<!-- header.hbs -->
<header>

  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li>
        {{#if user}}
          <a href="/dashboard">Dashboard</a>
        {{else}}
          <a href="/login">Dashboard</a>
        {{/if}}
      </li>
      <li>
        {{#if user}}
          <a href="/logout" class="logout-link">Logout</a>
        {{else}}
          <a href="/login" class="login-link">Login</a>
        {{/if}}
      </li>

    </ul>
  </nav>

</header>