<!-- header.hbs -->
<header>
  <h1>The "Best" Blog</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        {{#if user}}
          <a href="/api/dashboard">Dashboard</a>
        {{else}}
          <a href="/login">Dashboard</a>
        {{/if}}
      </li>
      <li>
        {{#if user}}
          <a href="/logout">Logout</a>
        {{else}}
          <a href="/login">Login</a>
        {{/if}}
      </li>

    </ul>
  </nav>
</header>