<!-- main.hbs -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Best Tech Blog</title>
    <script
      src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"
    ></script>
    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <body>

    <header>
      <h5>The Best Tech Blog</h5>
    </header>
    <main>
      {{{body}}}
    </main>

    <footer>
    </footer>
  </body>

</html>