<!-- dashboard.hbs -->


  <nav>
    <button class="btn" id="logout">logout</button>
    <button class ="btn save" id="saveBtn">Save</button>
  </nav>

{{> header}} <!-- Include the header partial here -->

<div class="container">
    
<h2>user Dashboard</h2>
    <!-- Add content for the dashboard here -->
</div>

{{> footer}} <!-- Include the footer partial here -->
